<html>
<head>
  <title>gif demo</title>
  <link href="js/fig.css" media="all" rel="stylesheet" type="text/css" />

  <script src="js/jquery.min.js"></script>
  <script src="js/fig.js"></script>
  <style type="text/css">
    #container { width:75%; }
    img { display:inline-block; margin:5px; }
  </style>
</head>
<body>
  <div id="container">
    <%= yield %>
  </div>
</body>
</html>